@{
    ViewBag.Title = "The Policy Initiative - Team";
    var controller = ViewContext.RouteData.Values["controller"].ToString().ToLower();
    var action = ViewContext.RouteData.Values["action"].ToString().ToLower();
    ViewBag.BodyAttributes = "class=teamPage";
}



<div class="Options">
     <div class="container">
    <ul class="items">
        <li><a href="" class="lang ar">عربي</a></li>
        <li><div class="searchBtn"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 25.961 25.966"><path d="M25.608,22.449l-5.056-5.056a1.216,1.216,0,0,0-.862-.355h-.827a10.543,10.543,0,1,0-1.826,1.826v.827a1.216,1.216,0,0,0,.355.862l5.056,5.056a1.212,1.212,0,0,0,1.719,0L25.6,24.173a1.223,1.223,0,0,0,.005-1.724ZM10.548,17.038a6.491,6.491,0,1,1,6.491-6.491A6.487,6.487,0,0,1,10.548,17.038Z" fill="#070606"/></svg></div></li>
        <li><div class="mailboxBtn"><svg xmlns="http://www.w3.org/2000/svg" width="33" height="30" viewBox="0 0 32.75 29.75"><g transform="translate(-47.25 -297.25)"><g transform="translate(0 10)"><g transform="translate(3.268 -15.052)"><rect width="25" height="25" rx="0.5" transform="translate(44.732 303.052)" fill="none" stroke="#040405" stroke-width="1.5"/></g></g><g transform="translate(-91.847 111.179)"><circle cx="7.5" cy="7.5" r="7.5" transform="translate(156.847 200.821)" fill="#070708"/><path d="M168.47,209.377h-3.013v2.944h-2.234v-2.944h-3v-2.112h3v-2.944h2.234v2.944h3.013Z" fill="#fff"/></g></g></svg></div>
         @{Html.RenderPartial("newsletterPop");}
        </li>
    </ul>
     </div>
</div>

<div class="Team">
    <div class="container">

        <div class="subMenu">
            <ul class="items">
                 <li><a class="link selected">Team</a></li>
                 <li><a class="link">Fellows</a></li>
                <li><a class="link ">Founders</a></li>
            </ul>
        </div>


        <ul class="teamlist">
            <li>
                <div class="item">
                    <ul class="cols">
                        <li>
                            <div class="pic"> <img src="@Url.Content("~/content/pictures/worker1.jpg")" /></div>
                        </li>
                        <li>
                            <div class="info">
                               <div class="titleTab">
                                <h2 class="title">Sami Atallah</h2>
                                <div class="position">Founding Director</div>
                               </div>
                                <div class="text">
                                    Sami Atallah is trained in economics and political science, was the director of the Lebanese Center for Policy Studies (LCPS) from January 2011 till December 2020. He led several policy studies on political and social sectarianism, the performance of the Parliament, monitoring the government, electoral behavior, the role of municipalities in dealing with the Syrian refugees’ crisis, municipal finance, economic diversification and industrial policy, and the governance of the oil and gas sector. He has several policy and academic publications. He is the editor of Towards Achieving a Transparent and Accountable National Budget in Lebanon (Beirut: LCPS 2013), co-editor of Local Governments and Public Goods: Assessing Decentralization in the Arab World (with Mona Harb, Beirut, LCPS 2015), co-editor of Hollowing out the Lebanese Parliament (2009-2017) (with Nayla Geagea, Beirut, LCPS 2018), and co-editor of The Future of Oil in Lebanon: Energy, Politics, and Economic Growth (with Bassam Fattouh, I.B. Tauris, 2020). In addition to his research, Atallah served on the committee established by the Lebanese prime minister to draft a decentralization law and participated in the deliberations of the parliamentary committee which reviewed the draft law. He holds two master’s degrees in International and Development Economics (Yale University) and Quantitative Methods (Columbia University), and a Ph.D. in Politics from New York University. 
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
           <li>
                <div class="item">
                    <ul class="cols">
                        <li>
                            <div class="pic"> <img src="@Url.Content("~/content/pictures/worker2.jpg")" /></div>
                        </li>
                        <li>
                            <div class="info">
                               <div class="titleTab">
                                <h2 class="title">Hala Bejjani  </h2>
                               </div>
                                <div class="text">
                                    Hala Bejjani is the Managing Director of Kulluna Irada since January 2018, a civic organization acting for political change in Lebanon. She is an experienced management professional and has worked in Paris, Edinburgh, Doha, and Beirut. She holds an MBA in Marketing and Finances. She successfully held senior and upper managerial positions in various organizations ranging from NGOs focused on sustainable social development (Movement Social) to media companies (Al-Akhbar and Planet News Business) and insurance companies (Bankers Assurance). She spent over two decades of her early career as a business consultant (KPMG Peat Marwick in Paris and Arthur Andersen in Edinburgh), a marketing and communication executive, before moving into the not-for-profit and media sectors in 2002.

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
             <li>
                <div class="item">
                    <ul class="cols">
                        <li>
                            <div class="pic"> <img src="@Url.Content("~/content/pictures/worker3.jpg")" /></div>
                        </li>
                        <li>
                            <div class="info">
                               <div class="titleTab">
                                <h2 class="title">Sami Atallah</h2>
                               </div>
                                <div class="text">
                                    Sami Atallah is trained in economics and political science, was the director of the Lebanese Center for Policy Studies (LCPS) from January 2011 till December 2020. He led several policy studies on political and social sectarianism, the performance of the Parliament, monitoring the government, electoral behavior, the role of municipalities in dealing with the Syrian refugees’ crisis, municipal finance, economic diversification and industrial policy, and the governance of the oil and gas sector. He has several policy and academic publications. He is the editor of Towards Achieving a Transparent and Accountable National Budget in Lebanon (Beirut: LCPS 2013), co-editor of Local Governments and Public Goods: Assessing Decentralization in the Arab World (with Mona Harb, Beirut, LCPS 2015), co-editor of Hollowing out the Lebanese Parliament (2009-2017) (with Nayla Geagea, Beirut, LCPS 2018), and co-editor of The Future of Oil in Lebanon: Energy, Politics, and Economic Growth (with Bassam Fattouh, I.B. Tauris, 2020). In addition to his research, Atallah served on the committee established by the Lebanese prime minister to draft a decentralization law and participated in the deliberations of the parliamentary committee which reviewed the draft law. He holds two master’s degrees in International and Development Economics (Yale University) and Quantitative Methods (Columbia University), and a Ph.D. in Politics from New York University. 
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
              <li>
                <div class="item">
                    <ul class="cols">
                        <li>
                            <div class="pic"> <img src="@Url.Content("~/content/pictures/worker4.jpg")" /></div>
                        </li>
                        <li>
                            <div class="info">
                               <div class="titleTab">
                                <h2 class="title">Sami Atallah</h2>
                               </div>
                                <div class="text">
                                    Sami Atallah is trained in economics and political science, was the director of the Lebanese Center for Policy Studies (LCPS) from January 2011 till December 2020. He led several policy studies on political and social sectarianism, the performance of the Parliament, monitoring the government, electoral behavior, the role of municipalities in dealing with the Syrian refugees’ crisis, municipal finance, economic diversification and industrial policy, and the governance of the oil and gas sector. He has several policy and academic publications. He is the editor of Towards Achieving a Transparent and Accountable National Budget in Lebanon (Beirut: LCPS 2013), co-editor of Local Governments and Public Goods: Assessing Decentralization in the Arab World (with Mona Harb, Beirut, LCPS 2015), co-editor of Hollowing out the Lebanese Parliament (2009-2017) (with Nayla Geagea, Beirut, LCPS 2018), and co-editor of The Future of Oil in Lebanon: Energy, Politics, and Economic Growth (with Bassam Fattouh, I.B. Tauris, 2020). In addition to his research, Atallah served on the committee established by the Lebanese prime minister to draft a decentralization law and participated in the deliberations of the parliamentary committee which reviewed the draft law. He holds two master’s degrees in International and Development Economics (Yale University) and Quantitative Methods (Columbia University), and a Ph.D. in Politics from New York University. 
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>

    </div>
</div>