
@{
    ViewBag.Title = "The Policy Initiative - Article";
    var controller = ViewContext.RouteData.Values["controller"].ToString().ToLower();
    var action = ViewContext.RouteData.Values["action"].ToString().ToLower();
    ViewBag.BodyAttributes = "class=articlePage";
}




<div class="Article arabic">
    <div class="container">
        <div class="picDiv">
            <div class="item">
                <div class="pic"><img src="@Url.Content("~/content/pictures/corruptiontalks.jpg")" /></div>
            </div>
        </div>

        <div class="date red">05.04.21 <span class="dash">|</span><span class="categ">مؤتمر</span></div>
        <h1 class="title">نطاق آخر قائم من التعرض للسموم- حتّى أن “التعرض” للسموم ليس تعبيرا كافي </h1>
        <div class="seperator"></div>

        <div class="text">
            <p>بعد أكثر من سبعة عشر عاما على غزو العراق واحتلاله في العام 2003، وبعد أكثر من ثلاثين عاما على بدء حرب الخليج في 1990-1991، قُدم مشروع قانون إلى الكونغرس الأميركي من الممكن أن يزيل “عبء الإثبات” من أجل “إرساء رابط مباشر” بين التعرّض لمواد سامة وبين الأعراض الصحيّة لدى المحاربين الأميركيين في عدد من الصراعات الخارجية، والذين يطالبون بإعانات من وزارة شؤون المحاربين القدامى. ويُمكن للجنود الّذين حاربوا في العراق، إما في إطار “الحرب على الإرهاب” أو خلال “حرب الخليج”، أن يصبحوا مؤهلين للحصول على مستحقات من دائرة قدامى المحاربين مخصصة لعدد من الأمراض المسجّلة.</p>
        </div>



    </div>
</div>
