

<div class="authorPopup">
    <div class="wrap">
        <div class="close"><svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><g fill="none" stroke="#fff" stroke-width="1"><circle cx="24" cy="24" r="24" stroke="none"/><circle cx="24" cy="24" r="23.5" fill="none"/><g transform="translate(16.851 16.323)"><line y2="20.676" transform="translate(14.896 0.472) rotate(45)" fill="none" stroke="#fff" stroke-width="2"/><line x1="14.825" y1="15.021" fill="none" stroke="#fff" stroke-width="2"/></g></g></svg></div>

        <div class="container">
            <div class="holder mCustomScrollbar">
                 <div class="title">Sami Atallah</div>
        <div class="text">
            We wanted to write this book since we first met at a conference on local governments 
            at the current Institut Français du Proche-Orient of Beirut in 2000, which led to a 
            publication that remains a reference on the topic. Mona was presenting her work on 
            local governments’ participatory practices in south Beirut, and Sami was speaking 
            of fiscal decentralization in Lebanon. Fourteen years later, the opportunity to 
            realize this dated, wild project materialized. We had authored a consultancy 
            report on local governments and decentralization in Lebanon together, and 
            published papers and reports separately. Mona had authored a paper in French 
            on the municipalities run by Hizballah in Lebanon, while Sami had produced
            several reports on the issue, including a comprehensive document for ICMA. 
            In 2014, while Mona was on leave from the American University of Beirut, she took up 
            the offer made by Sami to lead a project on local governance in the Arab World, funded 
            by the Open Society Foundation, at the Lebanese Center for Policy Studies, which Sami directs.
            <br/><br/>
        We were both driven by our urge to produce critical knowledge on decentralization, 
            beyond the normative discourse celebrating it as a panacea, while underscoring
            its potential opportunities to debunk authoritarian and centralized structures 
            of government that make sure to undermine avenues for alternative power structures 
            to emerge and challenge their actions. We were keen on a comparative approach, 
            placing Lebanon in dialogue with other countries in the Arab world that were 
            relatively well engaged in a decentralization process, or at least where local
            governments were elected and operational. We thus invited experts and scholars
            working on decentralization, local governance, and service provision in those countries,
            and asked them to author a paper according to a framework of analysis we devised, 
            in order to enhance possibilities of comparisons across country cases.
             <br/><br/>
                        We wanted to write this book since we first met at a conference on local governments 
            at the current Institut Français du Proche-Orient of Beirut in 2000, which led to a 
            publication that remains a reference on the topic. Mona was presenting her work on 
            local governments’ participatory practices in south Beirut, and Sami was speaking 
            of fiscal decentralization in Lebanon. Fourteen years later, the opportunity to 
            realize this dated, wild project materialized. We had authored a consultancy 
            report on local governments and decentralization in Lebanon together, and 
            published papers and reports separately. Mona had authored a paper in French 
            on the municipalities run by Hizballah in Lebanon, while Sami had produced
            several reports on the issue, including a comprehensive document for ICMA. 
            In 2014, while Mona was on leave from the American University of Beirut, she took up 
            the offer made by Sami to lead a project on local governance in the Arab World, funded 
            by the Open Society Foundation, at the Lebanese Center for Policy Studies, which Sami directs.
            <br/><br/>
        We were both driven by our urge to produce critical knowledge on decentralization, 
            beyond the normative discourse celebrating it as a panacea, while underscoring
            its potential opportunities to debunk authoritarian and centralized structures 
            of government that make sure to undermine avenues for alternative power structures 
            to emerge and challenge their actions. We were keen on a comparative approach, 
            placing Lebanon in dialogue with other countries in the Arab world that were 
            relatively well engaged in a decentralization process, or at least where local
            governments were elected and operational. We thus invited experts and scholars
            working on decentralization, local governance, and service provision in those countries,
            and asked them to author a paper according to a framework of analysis we devised, 
            in order to enhance possibilities of comparisons across country cases.
             <br/><br/>
        </div>
                </div>
       </div>


    </div>
</div>