

<div class="authorPopup arabic">
    <div class="wrap">
        <div class="close"><svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><g fill="none" stroke="#fff" stroke-width="1"><circle cx="24" cy="24" r="24" stroke="none"/><circle cx="24" cy="24" r="23.5" fill="none"/><g transform="translate(16.851 16.323)"><line y2="20.676" transform="translate(14.896 0.472) rotate(45)" fill="none" stroke="#fff" stroke-width="2"/><line x1="14.825" y1="15.021" fill="none" stroke="#fff" stroke-width="2"/></g></g></svg></div>

        <div class="container">
            <div class="holder mCustomScrollbar">
                 <div class="title">سامي عطالله </div>
        <div class="text">
           بعد أكثر من سبعة عشر عاما على غزو العراق واحتلاله في العام 2003، وبعد أكثر من ثلاثين عاما على بدء حرب الخليج في 1990-1991، قُدم مشروع قانون إلى الكونغرس الأميركي من الممكن أن يزيل “عبء الإثبات” من أجل “إرساء رابط مباشر” بين التعرّض لمواد سامة وبين الأعراض الصحيّة لدى المحاربين الأميركيين في عدد من الصراعات الخارجية، والذين يطالبون بإعانات من وزارة شؤون المحاربين القدامى. ويُمكن للجنود الّذين حاربوا في العراق، إما في إطار “الحرب على الإرهاب” أو خلال “حرب الخليج”، أن يصبحوا مؤهلين للحصول على مستحقات من دائرة قدامى المحاربين مخصصة لعدد من الأمراض المسجّلة.

ويبقى سؤال بديهي، مع أنه مهمَل: إذا تم أخيرا الاعتراف بمخاطر تعرض الجنود الأميركيين الذين حاربوا في العراق للسموم، فماذا عن المدنيين العراقيين، والذين لم يكن تعرضهم للمواد السامة جزء من انتشار مؤقت في الخارج، بل حقيقة يومية مستمرّة ومؤلمة؟

وتشمل الملوثات السامة التي أدخلها الجيش الأميركي إلى العراق أسلحة حرق الحفر واليورانيوم المنضّب. إن خطورة العيش السام في العراق لا توازي أي نطاق آخر قائم من التعرض للسموم- حتّى أن “التعرض” للسموم ليس تعبيرا كافيا. فالتعرض يعني تماس إجباري مع مواد سامّة. في العراق، الناس ليسوا معرضين فحسب، بل غارقين أو مشبعين على امتداد سنوات في ظروف احتجاز لا مفرّ منها حيث تبقى صحتّهم مُحاصرة.
مستخدمة مفهوما أعرّفه على أنّه “الإشباع السام”، أُبين في ما يلي الحاجة الملّحة لكي تقوم الحكومة الأميركية بالتعامل مع الظلم البيئي المستمر في العراق.
           بعد أكثر من سبعة عشر عاما على غزو العراق واحتلاله في العام 2003، وبعد أكثر من ثلاثين عاما على بدء حرب الخليج في 1990-1991، قُدم مشروع قانون إلى الكونغرس الأميركي من الممكن أن يزيل “عبء الإثبات” من أجل “إرساء رابط مباشر” بين التعرّض لمواد سامة وبين الأعراض الصحيّة لدى المحاربين الأميركيين في عدد من الصراعات الخارجية، والذين يطالبون بإعانات من وزارة شؤون المحاربين القدامى. ويُمكن للجنود الّذين حاربوا في العراق، إما في إطار “الحرب على الإرهاب” أو خلال “حرب الخليج”، أن يصبحوا مؤهلين للحصول على مستحقات من دائرة قدامى المحاربين مخصصة لعدد من الأمراض المسجّلة.

ويبقى سؤال بديهي، مع أنه مهمَل: إذا تم أخيرا الاعتراف بمخاطر تعرض الجنود الأميركيين الذين حاربوا في العراق للسموم، فماذا عن المدنيين العراقيين، والذين لم يكن تعرضهم للمواد السامة جزء من انتشار مؤقت في الخارج، بل حقيقة يومية مستمرّة ومؤلمة؟

وتشمل الملوثات السامة التي أدخلها الجيش الأميركي إلى العراق أسلحة حرق الحفر واليورانيوم المنضّب. إن خطورة العيش السام في العراق لا توازي أي نطاق آخر قائم من التعرض للسموم- حتّى أن “التعرض” للسموم ليس تعبيرا كافيا. فالتعرض يعني تماس إجباري مع مواد سامّة. في العراق، الناس ليسوا معرضين فحسب، بل غارقين أو مشبعين على امتداد سنوات في ظروف احتجاز لا مفرّ منها حيث تبقى صحتّهم مُحاصرة.
مستخدمة مفهوما أعرّفه على أنّه “الإشباع السام”، أُبين في ما يلي الحاجة الملّحة لكي تقوم الحكومة الأميركية بالتعامل مع الظلم البيئي المستمر في العراق.

                       بعد أكثر من سبعة عشر عاما على غزو العراق واحتلاله في العام 2003، وبعد أكثر من ثلاثين عاما على بدء حرب الخليج في 1990-1991، قُدم مشروع قانون إلى الكونغرس الأميركي من الممكن أن يزيل “عبء الإثبات” من أجل “إرساء رابط مباشر” بين التعرّض لمواد سامة وبين الأعراض الصحيّة لدى المحاربين الأميركيين في عدد من الصراعات الخارجية، والذين يطالبون بإعانات من وزارة شؤون المحاربين القدامى. ويُمكن للجنود الّذين حاربوا في العراق، إما في إطار “الحرب على الإرهاب” أو خلال “حرب الخليج”، أن يصبحوا مؤهلين للحصول على مستحقات من دائرة قدامى المحاربين مخصصة لعدد من الأمراض المسجّلة.

ويبقى سؤال بديهي، مع أنه مهمَل: إذا تم أخيرا الاعتراف بمخاطر تعرض الجنود الأميركيين الذين حاربوا في العراق للسموم، فماذا عن المدنيين العراقيين، والذين لم يكن تعرضهم للمواد السامة جزء من انتشار مؤقت في الخارج، بل حقيقة يومية مستمرّة ومؤلمة؟

وتشمل الملوثات السامة التي أدخلها الجيش الأميركي إلى العراق أسلحة حرق الحفر واليورانيوم المنضّب. إن خطورة العيش السام في العراق لا توازي أي نطاق آخر قائم من التعرض للسموم- حتّى أن “التعرض” للسموم ليس تعبيرا كافيا. فالتعرض يعني تماس إجباري مع مواد سامّة. في العراق، الناس ليسوا معرضين فحسب، بل غارقين أو مشبعين على امتداد سنوات في ظروف احتجاز لا مفرّ منها حيث تبقى صحتّهم مُحاصرة.
مستخدمة مفهوما أعرّفه على أنّه “الإشباع السام”، أُبين في ما يلي الحاجة الملّحة لكي تقوم الحكومة الأميركية بالتعامل مع الظلم البيئي المستمر في العراق.

        </div>
                </div>
       </div>


    </div>
</div>