

<div class="authorPopup">
    <div class="wrap">
        <div class="close"><svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><g fill="none" stroke="#fff" stroke-width="1"><circle cx="24" cy="24" r="24" stroke="none"/><circle cx="24" cy="24" r="23.5" fill="none"/><g transform="translate(16.851 16.323)"><line y2="20.676" transform="translate(14.896 0.472) rotate(45)" fill="none" stroke="#fff" stroke-width="2"/><line x1="14.825" y1="15.021" fill="none" stroke="#fff" stroke-width="2"/></g></g></svg></div>

        <div class="container">
            <div class="holder mCustomScrollbar">
                 <div class="title" ng-bind="title"></div>
        <div class="text" ng-bind-html="bio">
          
        
        </div>
                </div>
       </div>


    </div>
</div>