@{
    ViewBag.Title = "The Policy Initiative - Page not found";
    ViewBag.BodyAttributes = "class=errorPage";
}

<h1 class="hiddenHeader">The Policy Initiative - Page not found</h1>

<div class="Error">
    <div class="container">
        <h2 class="title">404</h2>
        <h3 class="caption">THIS PAGE COULD NOT BE FOUND!</h3>
        <div class="button-27">
            <a class="Btnh" href="@Url.Content("~/")">Go to Homepage</a>
        </div>
    </div>
</div>
