@{
    ViewBag.Title = "The Policy Initiative - Error in this page";
    ViewBag.BodyAttributes = "class=errorPage";
}

<h1 class="hiddenHeader">The Policy Initiative - Error in this page</h1>

<div class="Error">
    <div class="container">
        <h2 class="title">500</h2>
        <h3 class="caption">ITS NOT YOU ITS US...</h3>
        <h4 class="text">
            Something went wrong at our end, we are currently trying to fix the problem.<br />
            Please try again later.
        </h4>
        <div class="button-27">
            <a class="Btnh" href="@Url.Content("~/")">Go to Homepage</a>
        </div>
    </div>
</div>
