

<div class="Widget">
 <div class="container">
    <a class="twitter-timeline twitter-wjs" href="https://twitter.com/climatepolicy?ref_src=twsrc%5Etfw"
       width="3000"
       height="160"
       show-replies="false"
       data-chrome="nofooter,noheader"
       tweet-limit='1'>

    </a>
    <script>
    window.twttr = (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);

            t._e = [];
            t.ready = function (f) {
                t._e.push(f);
            };

            return t;
        }(document, "script", "twitter-wjs"));</script>
    <script src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    @*<a class="twitter-timeline twitter-wjs" href="https://twitter.com/climatepolicy?ref_src=twsrc%5Etfw"></a>

        <script  src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>*@

</div>
</div>
